In [1]:
from bs4 import BeautifulSoup
from requests import get
import pandas as pd
import requests

In [2]:
URL = 'https://www.numbeo.com/cost-of-living/country_result.jsp?country=Netherlands'
response = get(URL)
soup = BeautifulSoup(response.text, 'html.parser')
city_form = soup.find('form', {'class': 'standard_margin'})
city_form = [values['value'] for values in city_form('option')]
df = pd.DataFrame(city_form)

df.head()

                  0
0
1  's-Hertogenbosch
2           Alkmaar
3            Almelo
4            Almere

In [8]:
df = pd.read_excel("data/raw/output.xlsx")
list(df[df['remove'].isna()].reset_index()['city'])

["'s-Hertogenbosch",
 'Alkmaar',
 'Almere',
 'Amersfoort',
 'Amstelveen',
 'Amsterdam',
 'Apeldoorn',
 'Arnhem',
 'Breda',
 'Bussum',
 'Delft',
 'Dordrecht',
 'Eindhoven',
 'Gouda',
 'Haarlem',
 'Hilversum',
 'Hoofddorp',
 'Huizen',
 'Leiden',
 'Oegstgeest',
 'Rijswijk',
 'Rotterdam',
 'Schiedam',
 'The Hague (Den Haag)',
 'Utrecht',
 'Voorburg',
 'Zaandam',
 'Zeist',
 'Zoetermeer']

In [4]:
df.loc[df['city']=='The-Hague-Den-Haag','city'] = 'The Hague'
df.loc[df['city']=='Halle','city'] = 'Hall'

In [5]:
df

    index              city  remove
0       1  's-Hertogenbosch     NaN
1       2           Alkmaar     NaN
2       3            Almelo     1.0
3       4            Almere     NaN
4       5        Amersfoort     NaN
..    ...               ...     ...
65     66         Zandvoort     1.0
66     67             Zeist     NaN
67     68        Zoetermeer     NaN
68     69           Zutphen     1.0
69     70            Zwolle     1.0

[70 rows x 3 columns]