In [1]:
from bs4 import BeautifulSoup
from requests import get
import pandas as pd

In [2]:
URL = "https://www.numbeo.com/cost-of-living/city-estimator/in/Rotterdam"
response = get(URL)
soup = BeautifulSoup(response.text, 'html.parser')

In [3]:
split1 = soup.find_all('tr',{"class":"tr_standard"})

In [4]:
AAAA = []
BBBB = []

for i in range(len(split1)):
    try:
        aaaa = split1[i].find('td').find(text=True)
    except:
        aaaa = None

    try:
        bbbb = split1[i].find('span',{"class":"estimator_multiplier"}).find(text=True)
    except:
        bbbb = None
        
    AAAA.append(aaaa)
    BBBB.append(bbbb)

In [5]:
df = pd.DataFrame({'AAAA':AAAA, 'BBBB':BBBB})
df['er'] = df['BBBB'].str.replace("x ","",regex=True)
df['er'] = (df['er'].astype(float))

In [9]:
df#.to_csv('valkiria.csv')

                                                 AAAA          BBBB         er
0                        Meal, Inexpensive Restaurant        x 8.68   8.680000
1   Meal for 2 People, Mid-range Restaurant, Three...        x 6.20   6.200000
2                   Imported Beer (0.33 liter bottle)        x 1.55   1.550000
3                          Water (0.33 liter bottle)         x 4.65   4.650000
4                                                None          None        NaN
5               Cinema, International Release, 1 Seat        x 8.40   8.400000
6                   Imported Beer (0.33 liter bottle)        x 1.05   1.050000
7                          Water (0.33 liter bottle)         x 3.15   3.150000
8                                                None          None        NaN
9                       Cigarettes 20 Pack (Marlboro)        x 0.00   0.000000
10                                               None          None        NaN
11                          Milk (regular), (1 liter)  x 28.9333333  28.933333
12                                Rice (white), (1kg)  x 11.5733333  11.573333
13                                 Local Cheese (1kg)  x 11.5733333  11.573333
14  Beef Round (1kg) (or Equivalent Back Leg Red M...       x 17.36  17.360000
15                                       Banana (1kg)  x 28.9333333  28.933333
16                                       Tomato (1kg)  x 23.1466667  23.146667
17                                        Onion (1kg)  x 11.5733333  11.573333
18                                               None          None        NaN
19                   Domestic Beer (0.5 liter bottle)   x 5.1190476   5.119048
20                         Bottle of Wine (Mid-Range)   x 0.7678571   0.767857
21                                               None          None        NaN
22                                 Gasoline (1 liter)        x 0.00   0.000000
23                                               None          None        NaN
24                         Taxi Start (Normal Tariff)        x 0.00   0.000000
25                 Taxi 1hour Waiting (Normal Tariff)        x 0.00   0.000000
26                       Monthly Pass (Regular Price)        x 4.00   4.000000
27                                               None          None        NaN
28              Fitness Club, Monthly Fee for 1 Adult        x 4.00   4.000000
29   Vacation and Travel (Monthly Approximate Amount)          None        NaN
30                                               None          None        NaN
31  Basic (Electricity, Heating, Cooling, Water, G...        x 1.00   1.000000
32  Internet (60 Mbps or More, Unlimited Data, Cab...        x 1.00   1.000000
33                                               None          None        NaN
34             1 Pair of Jeans (Levis 501 Or Similar)        x 0.40   0.400000
35           1 Pair of Nike Running Shoes (Mid-Range)        x 0.40   0.400000
36                                               None          None        NaN
37                                               None          None        NaN
38  Preschool (or Kindergarten), Full Day, Private...        x 0.00   0.000000
39                                               None          None        NaN
40  Household Supplies, approximation using (Groce...          None        NaN
41  Other, approximation using Cost of Living Plus...          None        NaN
42                                               None          None        NaN

In [15]:
URL = "https://www.numbeo.com/cost-of-living/in/Rotterdam"
response = get(URL)
soup = BeautifulSoup(response.text, 'html.parser')

'857.01€'