In [1]:
from bs4 import BeautifulSoup
from requests import get
import pandas as pd

In [2]:
URL = 'https://www.numbeo.com/cost-of-living/country_result.jsp?country=Netherlands'
response = get(URL)
soup = BeautifulSoup(response.text, 'html.parser')
city_form = soup.find('form', {'class': 'standard_margin'})
city_form = [values['value'] for values in city_form('option')]
meu_01=[]

In [3]:
for city in city_form[:]:
    URL = 'https://www.numbeo.com/cost-of-living/city-estimator/in/'
    IRL = '?Recalculated=Submit+to+Recalculate&displayCurrency=EUR&members=1&restaurants_percentage=10.0&inexpensive_restaurants_percentage=50.0&drinking_coffee_outside=100.0&going_out_monthly=4.2&smoking_packs_per_day=0.0&alcoholic_drinks=25.0&type_of_food=0&driving_car=0.0&taxi_consumption=0.0&paying_for_public_transport=Monthly%2C+All+Members&sport_memberships=100.0&vacation=0.0&clothing_and_shoes=50.0&rent=none&kindergarten_count=0&private_schools_count=0'
    benefit=[]
    price=[]
    city = city.replace(' ','-')
    city = city.replace('(','')
    city = city.replace(')','')
    try:
        link = URL+city+IRL
        response = get(URL+city+IRL)
        soup = BeautifulSoup(response.text, 'html.parser')
        if len(soup.find_all('nav',{'class':'breadcrumb'}))==0:
            link=URL+city+'-Netherlands'+IRL
            response = get(link)
            soup = BeautifulSoup(response.text, 'html.parser')
        else:
            pass
        benefit = (soup.find_all('th',{'class':'tr_highlighted_menu'})[-1].get_text())
        price = (soup.find_all('th',{'class':'th_no_highlight_a_right'})[-1].get_text())
        meu_01.append({'benefit':benefit,'price':price,'city':city,'url':link})
    except:
        pass

In [16]:
df = pd.DataFrame(meu_01)
df = df[df['price']!=' ?'].reset_index(drop=True)
df['price'] = df['price'].str.replace('?','0',regex=True)
df['price'] = df['price'].str.replace('\D','',regex=True)
df['price'] = (df['price'].astype(float))/100
df.loc[df['city']=='The-Hague-Den-Haag','city'] = 'Den Haag'
df['benefit'] = 'costs'
df['url'] = "<a target='_blank' href=" + (df['url']).astype(str) + ">" + 'Source' + "</a>"
df = df.drop_duplicates().sort_values('price', ascending=False).reset_index(drop=True)
df.reset_index(drop=True).to_csv('../../app/costs.csv')
df

,benefit,price,city,url
0,costs,1007.50,Alkmaar,<a target='_blank' href=https://www.numbeo.com...
1,costs,967.09,Amersfoort,<a target='_blank' href=https://www.numbeo.com...
2,costs,966.10,Zandvoort,<a target='_blank' href=https://www.numbeo.com...
3,costs,941.46,Voorburg,<a target='_blank' href=https://www.numbeo.com...
4,costs,933.89,Roermond,<a target='_blank' href=https://www.numbeo.com...
5,costs,926.84,Amsterdam,<a target='_blank' href=https://www.numbeo.com...
6,costs,916.98,Haarlem,<a target='_blank' href=https://www.numbeo.com...
7,costs,913.94,Amstelveen,<a target='_blank' href=https://www.numbeo.com...
8,costs,912.87,Ede,<a target='_blank' href=https://www.numbeo.com...
9,costs,912.50,Utrecht,<a target='_blank' href=https://www.numbeo.com...
10,costs,909.90,Breda,<a target='_blank' href=https://www.numbeo.com...
11,costs,886.96,'s-Hertogenbosch,<a target='_blank' href=https://www.numbeo.com...
12,costs,877.95,Eindhoven,<a target='_blank' href=https://www.numbeo.com...
13,costs,877.70,Groningen,<a target='_blank' href=https://www.numbeo.com...
14,costs,876.16,Nijmegen,<a target='_blank' href=https://www.numbeo.com...
15,costs,868.60,Leiden,<a target='_blank' href=https://www.numbeo.com...
16,costs,862.51,Tilburg,<a target='_blank' href=https://www.numbeo.com...
17,costs,857.15,Rotterdam,<a target='_blank' href=https://www.numbeo.com...
18,costs,845.25,Almere,<a target='_blank' href=https://www.numbeo.com...
19,costs,839.39,Zoetermeer,<a target='_blank' href=https://www.numbeo.com...
20,costs,835.61,Dordrecht,<a target='_blank' href=https://www.numbeo.com...
21,costs,824.92,Enschede,<a target='_blank' href=https://www.numbeo.com...
22,costs,823.03,Venlo,<a target='_blank' href=https://www.numbeo.com...
23,costs,815.87,Zwolle,<a target='_blank' href=https://www.numbeo.com...
24,costs,808.19,Den Haag,<a target='_blank' href=https://www.numbeo.com...
25,costs,807.48,Zeist,<a target='_blank' href=https://www.numbeo.com...
26,costs,807.46,Heerlen,<a target='_blank' href=https://www.numbeo.com...
27,costs,797.37,Maastricht,<a target='_blank' href=https://www.numbeo.com...
28,costs,788.84,Delft,<a target='_blank' href=https://www.numbeo.com...
29,costs,784.62,Deventer,<a target='_blank' href=https://www.numbeo.com...
30,costs,771.78,Gouda,<a target='_blank' href=https://www.numbeo.com...
31,costs,737.14,Best,<a target='_blank' href=https://www.numbeo.com...
32,costs,703.16,Halle,<a target='_blank' href=https://www.numbeo.com...

In [5]:
df.sort_values('price').reset_index(drop=True).to_csv('../../app/costs.csv')

In [6]:
ksjdhakjsdhkjashdkjashdkjahskdjhaskjdhaskjds
ksjdhakjsdhkjashdkjashdkjahskdjhaskjdhaskjds
ksjdhakjsdhkjashdkjashdkjahskdjhaskjdhaskjds

NameError: name 'ksjdhakjsdhkjashdkjashdkjahskdjhaskjdhaskjds' is not defined

In [ ]:
from bs4 import BeautifulSoup
from requests import get
import pandas as pd

In [ ]:
def  minha(URL,city):
    response = get(URL)
    soup = BeautifulSoup(response.text, 'html.parser')
    split1 = soup.find_all('tr',{'class':'tr_standard'})
    benefit = []
    col_factor = []
    price = []
    city_form=[]
    for i in range(len(split1)):
        try:
            benefit_ = split1[i].find('td').find(text=True)
        except:
            benefit_ = None
        try:
            col_factor_ = split1[i].find('span',{'class':'estimator_multiplier'}).find(text=True)
        except:
            col_factor_ = None
        try:
            price_ = split1[i].find('span',{'class':'price_in_units_for_analysis'}).find(text=True)
        except:
            price_ = None

        benefit.append(benefit_)
        col_factor.append(col_factor_)
        price.append(price_)
        city_form.append(city)
        
    return [benefit,col_factor,city_form,price]

In [ ]:
URL = 'https://www.numbeo.com/cost-of-living/country_result.jsp?country=Netherlands'
response = get(URL)
soup = BeautifulSoup(response.text, 'html.parser')
city_form = soup.find('form', {'class': 'standard_margin'})
city_form = [values['value'] for values in city_form('option')]
meu_01=[]

In [ ]:
for city in city_form[:]:
    URL = 'https://www.numbeo.com/cost-of-living/city-estimator/in/'+city
    my_dict_ = minha(URL,city)
    meu_01.append({'benefit':my_dict_[0],'col_factor':my_dict_[1],'city':my_dict_[2],'price':my_dict_[3]})

In [ ]:
df = pd.DataFrame({})
for i in range(len(meu_01)):
    df = pd.concat([df, pd.DataFrame(meu_01[i])],0)

In [ ]:
df['price'] = df['price'].str.replace('?','0',regex=True)
df['price']= df['price'].str.replace('\D','',regex=True)
df['price'] = (df['price'].astype(float))/100

In [ ]:
df['col_factor']= df['col_factor'].str.replace('x','',regex=True)
df['col_factor'] = (df['col_factor'].astype(float))/2

---