In [1]:
import json
import pandas as pd

In [2]:
f = open('results.json')
data = json.load(f)

In [3]:
df = pd.DataFrame()
for city in data['Netherlands']['child'].keys():
    try:
        for key in data['Netherlands']['child'][city].keys():
            ericson = (pd.DataFrame(data['Netherlands']['child']['Voorburg'][key]))
            ericson['city'] = city
            ericson['key'] = key
            df = pd.concat([ericson,df],0)
    except:
        pass

<ipython-input-3-8c094eec4f42>:8: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  df = pd.concat([ericson,df],0)

In [4]:
df = df.reset_index(drop=True)
df.columns = ['situation', 'price', 'del', 'city', 'key']
df=df.drop(['del'],1)

<ipython-input-4-dacc947e4236>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df=df.drop(['del'],1)

In [5]:
df['price'] = df['price'].str.replace(',', '')
df['price'] = df['price'].str.replace('â‚¬', '')
df['price'] = df['price'].astype('float')
df['key'] = df['key'].str.replace('\n\n', '')

In [11]:
df.sample(10)

,situation,price,city,key
2416,Imported Beer (0.33 liter bottle),5.00,Goes,Restaurants
2350,Onion (1kg),1.90,Gouda,Markets
3659,Loaf of Fresh White Bread (500g),1.20,Almere,Markets
2512,Oranges (1kg),2.50,Etten-Leur,Markets
3609,Beef Round (1kg) (or Equivalent Back Leg Red M...,12.00,Amersfoort,Markets
1450,One-way Ticket (Local Transport),3.25,Nijmegen,Transportation
2807,Price per Square Meter to Buy Apartment in Cit...,3250.00,Drachten,Buy Apartment Price
527,Local Cheese (1kg),14.00,Vlissingen,Markets
858,Chicken Fillets (1kg),7.75,Utrecht,Markets
698,Tomato (1kg),2.00,Veenendaal,Markets

In [13]:
df[df['situation'].str.contains('Oranges')].sample(5)

           situation  price       city      key
1907  Oranges (1kg)     2.5     Huizen  Markets
257   Oranges (1kg)     2.5  Zandvoort  Markets
972   Oranges (1kg)     2.5       Tiel  Markets
3227  Oranges (1kg)     2.5    Borculo  Markets
3502  Oranges (1kg)     2.5  Amsterdam  Markets

In [ ]:
ASaadfsdfdsf

In [ ]:
pdf = df[
#     (df['city']=='Rotterdam') & \
    ( 
        (df['key']=='Clothing And Shoes')\
        |(df['key']=='Childcare')\
        |(df['key']=='Sports And Leisure')\
        |(df['key']=='Utilities (Monthly)')\
        |(df['key']=='Markets')\
        |(df['key']=='Restaurants')
    )
]

pdf = pdf[~pdf['situation'].str.contains('International Primary School, Yearly')]
pdf.loc[pdf['key'].str.contains('Clothing And Shoes'), 'mukt'] = 4
pdf.loc[pdf['key'].str.contains('Childcare'), 'mukt'] = 0
pdf.loc[pdf['key'].str.contains('Sports And Leisure'), 'mukt'] = 4
pdf.loc[pdf['key'].str.contains('Utilities .Monthly.'), 'mukt'] = 4 
pdf.loc[pdf['key'].str.contains('Markets'), 'mukt'] = 4
pdf.loc[pdf['key'].str.contains('Restaurants'), 'mukt'] = 4
pdf['price_'] = pdf['price'].astype(float)* pdf['mukt'].astype(float)
display(pdf['price_'].sum())
pdf

In [ ]:
pdf.groupby(['city'])[['price_']].sum().reset_index().sort_values('price_')

In [ ]:
adsdasdasdsad

In [ ]:
df_1 = pdf
df_2 = pd.read_csv('valkiria.csv')
df_1['situation'] = df_1['situation'].str.strip()

In [ ]:
df_2 = df_2[['AAAA', 'er']]
text = pd.merge(df_1, df_2, left_on='situation', right_on='AAAA', how='left')
text[text['AAAA'].isna()]